/* ============================================start global var==================================== */
:root {
  --main-color: #000000;
  --section-padding: 30px;
  --secondary-color: rgba(4, 4, 4, 0.5);
}
/* ============================================end global var==================================== */

/* ============================================start global styles==================================== */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) and (max-height: 800px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
/* ===================================================end global styles=========================================== */

@media (max-width: 767px) {
  .cross {
    display: none;
  }
  .sign-bar p {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .sign-bar p {
    font-size: 12px;
  }
}
.sign-bar a {
  color: white;
}
/* ==================================================start nav-bar===================================== */
header nav {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100px;
  position: relative;
  justify-content: space-between;
}
header nav .layers {
  display: none;
}

header nav ul {
  list-style: none;
  display: flex;
  font-family: "Satoshi-Regular";
}
header nav ul li a {
  padding: 40px 15px;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
}

header nav ul .arrow-bar {
  margin-top: 45px;
  margin-right: 10px;
}
header nav ul .li1 {
  padding-right: 0px;
}

header .icons .cart {
  margin-right: 14px;
}
header .icons .search-icon-black {
  display: none;
}

header .search-box {
  width: 450px;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 20px 20px 20px 50px;
  position: relative;
  background-color: #f0f0f0;
  caret-color: black;
  font-size: 15px;
}

header .search .search-icon {
  position: absolute;
  top: 39%;
  left: 52%;
  z-index: 1;
  font-size: 20px;
}

header .logo-layer a {
  text-decoration: none;
}

header .logo-layer .logo {
  font-weight: 900;
  color: black;
  text-shadow: 0px 4px 4px rgb(120, 120, 120);
  font-family: "integral-CF";
  font-size: 30px;
}
@media (max-width: 1200px) {
  header nav {
    position: relative;
  }
  header nav .layers {
    display: block;
    position: absolute;
    left: 0;
    top: 43px;
  }
  header .icons {
    position: relative;
    right: 0;
  }
  header .icons .search-icon-black {
    display: block;
    position: absolute;
    right: 80px;
  }

  header nav .layers {
    cursor: pointer;
  }

  header nav ul,
  nav .search .search-box,
  header nav ul .arrow-bar,
  header .search .search-icon {
    display: none;
  }

  header .logo-layer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .logo-layer .logo {
    margin-left: 35px;
  }

  header nav .arrow-bar:hover {
    cursor: pointer;
  }

  /* ===============hover================== */
  
  #menu-id:checked + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 8;
    top: 95%;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    li a {
      padding: 20px;
    }
    li {
      box-shadow: 0px 4px 6px rgb(152, 152, 152);
    }
    /* li:hover{
    transition: 0.5s;
      margin-left: 20px;
      transform: scaleX(1.1);
  } */
  }
}

@media (max-width: 767px) {
  header nav li:hover {
    transition: 0.5s;
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  header nav li:hover {
    transition: 0.5s;
    transform: scaleX(1.1);
  }
}

#menu-id {
  display: none;
}
header .search-box:focus {
  outline: none;
}

header .search-box::placeholder {
  font-family: "Satoshi-Regular";
}

header .container {
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

/* ====================================================end nav-bar================================== */
/* ==================================================start casual-nav-section===================================== */
.casual-nav {
  padding-top: var(--section-padding);
}
.casual-nav-section ul {
  list-style: none;
  font-family: "Satoshi-Regular";
}
.casual-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.casual-nav-section .casual-svg {
  margin-right: 10px;
}
.casual-nav-section .casual-nav ul .li1 {
  margin-right: 5px;
  color: var(--secondary-color);
}
/* ====================================================end casual-nav-section================================== */
.main {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.main .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.main .container .casual {
  flex-basis: 850px;
  align-content: flex-end;
  padding-bottom: var(--section-padding);
}
.main .casual .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .casual .head .filters-icon {
  display: none;
}
.main .casual .head h2 {
  text-shadow: 0px 1px 6px rgb(62, 62, 62);
  font-family: "Satoshi-Bold";
  font-weight: bolder;
  font-size: 25px;
}

.main .casual .head p,
.main .casual .head span {
  font-family: "Satoshi-Regular";
}
@media (max-width: 767px) {
  .main .casual .head span {
    display: none;
  }
  .main .casual .head {
    justify-content: space-between;
  }
  .main .casual .head .filters-icon {
    display: block;

  }
  .main .casual .head h2 {
    font-weight: 900;
    text-shadow: 0px 0px 0px transparent;
  }
}
.main .casual .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-bottom: 30px;
}

.main .casual .items::after {
  content: "";
  position: absolute;
  height: 0.5px;
  background-color: #a2a2a2;
  bottom: 0;
  width: 100%;
}

.main .casual .items .product {
  margin-top: 30px;
}

div img:first-child {
  width: 270px;
}

@media (max-width: 767px) {
  div img:first-child {
    width: 165px;
  }
  .main .casual .items .product {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .main .container {
    justify-content: center;
    align-items: center;
  }
}

.main .container .casual {
  flex-basis: 850px;
  align-content: flex-end;
  margin-left: 1%;
}

.casual .items .product p {
  font-size: 20px;
  font-weight: 700;
  font-family: "Satoshi-Bold";
}
.casual .items .product h3 {
  font-family: "Satoshi-Bold";
}
.casual .items .product p del {
  color: var(--secondary-color);
}
.casual .items .product .dis {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: 50px;
  height: 25px;
  padding-top: 2px;
  background-color: rgba(253, 201, 201, 0.5);
  color: #ff3333;
  border-radius: 30px;
}

.main .container .filters {
  flex-basis: 270px;
  border: 1px solid var(--secondary-color);
  align-content: flex-start;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1150px;
}
.main .container .filters .filter-section {
  width: 100%;
  height: 60px;
}

.main .filters .f-s1 {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main .filters .f-s1 h3 {
  font-family: "Satoshi-Bold";
}
.main .filters .f-s1::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
.main .filters .f-s2 .subtitle {
  color: var(--secondary-color);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.main .filters .f-s2 .subtitle p {
  font-family: "Satoshi-Regular";
}
.main .filters .f-s2 {
  padding: 15px;
}
.main .filters .f-s2 svg:hover {
  cursor: pointer;
}
.main .filters .f-s2 .subtitle5 {
  position: relative;
  padding-bottom: 20px;
}
.main .filters .f-s2 .subtitle5::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: 100%;
  left: 0px;
}
.main .filters .f-s3 {
  margin-top: 160px;
  padding: 0 15px;
  position: relative;
  padding-bottom: 90px;
}
.main .filters .f-s3 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .filters .f-s3 h3 {
  font-family: "Satoshi-Bold";
}
.main .filters .f-s3 svg:hover {
  cursor: pointer;
}
.main .filters .f-s3 .ranges {
  margin-top: 20px;
  height: 8px;
  width: 230px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(4, 4, 4);
  position: relative;
}
.main .filters .f-s3 .ranges .output1 {
  position: absolute;
  top: 15px;
  left: 55px;
  font-family: "Satoshi-Medium";
}
.main .filters .f-s3 .ranges .output2 {
  position: absolute;
  top: 15px;
  right: 35px;
  font-family: "Satoshi-Medium";
}

.main .filters .f-s3 .ranges .span1 {
  position: absolute;
  top: 15px;
  left: 46px;
  font-family: "Satoshi-Medium";
}
.main .filters .f-s3 .ranges .span2 {
  position: absolute;
  top: 15px;
  right: 66px;
  font-family: "Satoshi-Medium";
}
.main .filters .f-s3 .ranges .range1 {
  transform: scale(-1, 1);
  width: 120px;
  accent-color: rgb(0, 0, 0);
}
.main .filters .f-s3 .ranges .range2 {
  width: 120px;
  margin-left: -60px;
  margin-left: 0;
  accent-color: rgb(0, 0, 0);
}

.main .filters .f-s3::after {
  content: "";
  position: absolute;
  height: 0.5px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

.main .filters .f-s4 {
  position: relative;
  padding: 0 15px;
  padding-bottom: 140px;
  padding-top: 15px;
}

.main .filters .f-s4::after {
  content: "";
  position: absolute;
  height: 0.5px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
.main .filters .f-s4 h3 {
  font-family: "Satoshi-Bold";
}
.main .filters .f-s4 svg:hover {
  cursor: pointer;
}
.main .filters .f-s4 .color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-items1 {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.color-items2 {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.color1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00c12b;
  border: 1px solid #008b1e;
}

.color2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f50606;
  border: 1px solid #b10000;
}
.color3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5dd06;
  border: 1px solid #bdaa00;
}
.color4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f57906;
  border: 1px solid #af5500;
}
.color5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #06caf5;
  border: 1px solid #008ead;
}
.color6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #063af5;
  border: 1px solid #0027b4;
  text-align: center;
  color: white;
}
.color7 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7d06f5;
  border: 1px solid #5600ab;
}
.color8 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f506a4;
  border: 1px solid #be007e;
}
.color9 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
}
.color10 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  border: 1px solid #000000;
}

.color-items1 .main-color1 {
  position: relative;
}
.color-items1 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check1:checked + span {
  display: block;
}
#color-check1 {
  display: none;
}

.color-items1 .main-color2 {
  position: relative;
}
.color-items1 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check2:checked + span {
  display: block;
}
#color-check2 {
  display: none;
}

.color-items1 .main-color3 {
  position: relative;
}
.color-items1 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check3:checked + span {
  display: block;
}
#color-check3 {
  display: none;
}

.color-items1 .main-color4 {
  position: relative;
}
.color-items1 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check4:checked + span {
  display: block;
}
#color-check4 {
  display: none;
}

.color-items1 .main-color5 {
  position: relative;
}
.color-items1 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check5:checked + span {
  display: block;
}
#color-check5 {
  display: none;
}

.color-items2 .main-color6 {
  position: relative;
}
.color-items2 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check6:checked + span {
  display: block;
}
#color-check6 {
  display: none;
}

.color-items2 .main-color7 {
  position: relative;
}
.color-items2 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check7:checked + span {
  display: block;
}
#color-check7 {
  display: none;
}

.color-items2 .main-color8 {
  position: relative;
}
.color-items2 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check8:checked + span {
  display: block;
}
#color-check8 {
  display: none;
}

.color-items2 .main-color9 {
  position: relative;
}
.color-items2 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
}
#color-check9:checked + span {
  display: block;
}
#color-check9 {
  display: none;
}

.color-items2 .main-color10 {
  position: relative;
}
.color-items2 span {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  pointer-events: none;
  color: white;
}
#color-check10:checked + span {
  display: block;
}
#color-check10 {
  display: none;
}
/* .color-items1  .main-color1:hover , 
.color-items1 .main-color2:hover , 
.color-items1 .main-color3:hover ,
.color-items1 .main-color4:hover ,
.color-items1 .main-color5:hover ,
.color-items2  .main-color6:hover ,
.color-items2  .main-color7:hover ,
.color-items2  .main-color8:hover ,
.color-items2  .main-color9:hover ,
.color-items2  .main-color10:hover{
  cursor: pointer;
} */

.main .filters .f-s5 {
  position: relative;
  padding: 0 15px;
  padding-bottom: 330px;
  padding-top: 15px;
}
.main .filters .f-s5::after {
  content: "";
  position: absolute;
  height: 0.5px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
.main .filters .f-s5 h3 {
  font-family: "Satoshi-Bold";
}
.main .filters .f-s5 svg:hover {
  cursor: pointer;
}
.main .filters .f-s5 .size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main .filters .f-s5 .size-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .filters .f-s5 .size-item .size-text {
  margin: 4px 2px;
  padding: 10px 20px;
  padding-bottom: 35px;
  background-color: #af5500;
  text-align: center;
  height: 40px;
  border-radius: 50px;
  color: var(--secondary-color);
  background-color: rgb(240, 240, 240);
  font-family: "Satoshi-Regular";
}
.main .filters .f-s5 .size-item .size-text:hover {
  color: rgb(240, 240, 240);
  background-color: #000000;
  cursor: pointer;
}
.main .filters .f-s5 .size-item .focused {
  color: rgb(240, 240, 240);
  background-color: #000000;
}

.main .filters .f-s6 {
  position: relative;
  padding: 0 15px;
  padding-bottom: 140px;
  padding-top: 15px;
}
.main .filters .f-s6 h3 {
  font-family: "Satoshi-Bold";
}
.main .filters .f-s6 svg:hover {
  cursor: pointer;
}
.main .filters .f-s6 .dress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .filters .f-s6 .dress-subtitle {
  color: var(--secondary-color);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Satoshi-Regular";
}
.main .filters .f-s6 .button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  color: rgb(240, 240, 240);
  background-color: black;
  font-family: "Satoshi-Medium";
}
.main .filters .f-s6 .button:hover {
  cursor: pointer;
}

/*   ================================ start To distinguish galaxy z fold 500=========================== */

@media (min-width: 344px) and (max-width: 345px) {

  .main .casual .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main .casual .head p {
    padding-top: 6px;
    font-size: 14px;
  }
}
/*   ================================ end To distinguish galaxy z fold 500=========================== */
/*   ================================ end To distinguish  samsung galaxy s 8+=========================== */
@media (min-width: 360px) and (max-width: 361px) {


  .main .casual .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main .casual .items .product img {
    width: 160px;
  }
  .main .casual .items .product h3 {
    font-size: 13px;
  }
}
/*   ================================ end To distinguish samsung galaxy s 8+=========================== */
.main .container .casual .page-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.main .container .casual .page-counter .previous button {
  padding: 8px 10px 8px 40px;
  border-radius: 7px;
  position: relative;
  text-align: right;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  font-family: "Satoshi-Medium";
}
.main .container .casual .page-counter .previous button .arrow-left {
  position: absolute;
  left: 10px;
  top: 5px;
}

.main .container .casual .page-counter .next button {
  padding: 8px 35px 8px 10px;
  border-radius: 7px;
  position: relative;
  text-align: right;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  font-family: "Satoshi-Medium";
}
.main .container .casual .page-counter .next button .arrow-right {
  position: absolute;
  right: 10px;
  top: 5px;
}

.main .container .casual .page-counter .numbers {
  display: flex;
  justify-content: space-evenly;
}

.main .container .casual .page-counter .numbers span {
  font-family: "Satoshi-Medium";
  padding: 9px 15px;
  border-radius: 5px;
}
.main .container .casual .page-counter .numbers .focused {
  background-color: rgba(70, 70, 70, 0.2);
}

.main .container .casual .page-counter .numbers span:not(.dots):hover {
  cursor: pointer;
  background-color: rgba(70, 70, 70, 0.2);
}

.main .container .casual .page-counter .next button:hover,
.main .container .casual .page-counter .previous button:hover {
  cursor: pointer;
}

.main .container {
  position: relative;
}

@media (max-width: 767px) {
  .main .container .casual .page-counter .numbers .span3,
  .main .container .casual .page-counter .numbers .span8 {
    display: none;
  }
  .main .container .casual .page-counter .numbers span {
    padding: 7px 8px;
    border-radius: 5px;
  }
}
/* ========================== start filters hover=================================== */
.main .container .filters-icon-hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 0px;
  display: none;
}
.main .container .filters .icon-x {
  display: none;
}

@media (max-width: 767px) {
  .main .container .filters .icon-x {
    display: block;
  }
  .main .container .filters .icon {
    display: none;
  }

  .main .container .filters-icon-hover {
    display: block;
  }
}

@media (max-width: 767px) {
  .main .container {
    position: relative;
  }

  .filters {
    display: none;
  }

  .filters {
    /* display: block; */
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    transition: bottom 5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 10;
  }

  #filter-id:checked + .filters {
    display: block;
    top: -7%;
  }
}

@media (min-width: 540px) and (max-width: 541px) {
  .main .container {
    position: relative;
  }

  .filters {
    display: none;
  }

  .filters {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    transition: bottom 5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 10;
  }

  #filter-id:checked + .filters {
    top: 0%;
  }

  #filter-id:checked body {
    background-color: #a2a2a2;
  }
}

#filter-id {
  display: none;
}
@media (min-width: 540px) and (max-width: 541px) {
  #filter-id:checked + .filters {
    top: -100%;
  }
}
@media (min-width: 344px) and (max-width: 345px) {
  #filter-id:checked + .filters {
    top: -4%;
  }
}

/*
@media (min-width: 853px) and (max-width: 854px){
  .filters {
    flex: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1025px){
  .filters {
    flex: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 912px) and (max-width: 913px){
  .filters {
    flex: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 820px) and (max-width: 821px){
  .filters {
    flex: 100%;
    margin-bottom: 20px;
  }
}
  */

@media (min-width: 768px) and (max-width: 769px) {
  .filters {
    flex: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .filters {
    flex: 100%;
    margin-bottom: 20px;
  }
}
/* @media (min-width: 540px) and (max-width: 541px){
  .filters {
    flex: 10%;
    margin-bottom: 20px;
  }
}  */
/* ========================== end filters hover=================================== */
/* =======================================================end main section==================== */
/* ======================================================start subscribe section =======================  */

.subscribe .subscribe-box {
  border-radius: 20px;
  color: white;
  background-color: #000000;
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.subscribe .subscribe-box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "integral-CF";
  line-height: 40px;
  font-size: 25px;
}
.subscribe .subscribe-box .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.subscribe-box [type="email"],
[type="button"] {
  margin-bottom: 10px;
  width: 300px;
  height: 47px;
  border-radius: 50px;
}

.subscribe-box [type="email"],
[type="button"] {
  font-size: 15px;
  font-family: "Satoshi-Regular";
  padding: 10px 50px;
}
.subscribe-box [type="button"] {
  font-family: "Satoshi-Medium";
  font-size: 15px;
}
.subscribe .subscribe-box .data .email-icon {
  position: absolute;
  top: 12px;
  left: 18px;
}
@media (max-width: 767px) {
  .subscribe .subscribe-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 280px;
    padding: 20px;
  }
  .subscribe .subscribe-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "integral-CF";
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  .subscribe .subscribe-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 170px;
    padding: 20px;
  }

  .subscribe .subscribe-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "integral-CF";
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 20px;
  }
}
@media (min-width: 820px) and (max-width: 821px) {
  .subscribe .subscribe-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 170px;
    padding: 20px;
  }

  .subscribe .subscribe-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "integral-CF";
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 20px;
  }
}
@media (min-width: 912px) and (max-width: 913px) {
  .subscribe .subscribe-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 170px;
    padding: 20px;
  }

  .subscribe .subscribe-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "integral-CF";
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 20px;
  }
}

@media (min-width: 853px) and (max-width: 854px) {
  .subscribe .subscribe-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 170px;
    padding: 20px;
  }

  .subscribe .subscribe-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "integral-CF";
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 20px;
  }
}

.subscribe-box [type="email"]:focus {
  outline: none;
}
.subscribe-box [type="button"]:hover {
  cursor: pointer;
}

/* ======================================================end subscribe section =======================  */

.footer {
  width: 100%;
  background-color: #f0f0f0;
  margin-top: -100px;
  position: relative;
  z-index: -1;
  padding-bottom: 100px;
}
.footer .container .content {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-bottom: 60px;
}

@media (max-width: 1000px) {

  .footer .col1 {
    flex: 1 1 100%;
  }
  .footer .col2,
  .footer .col3 {
    flex: 1 1 50%;
  }
  .footer .col4,
  .footer .col5 {
    flex: 1 1 50%;
  }
}

.footer .col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .col1 .main-title {
  font-weight: 900;
  color: black;
  font-family: "integral-CF";
  font-size: 30px;
  padding-bottom: 15px;
}
.footer .col1 p {
  line-height: 23px;
}
.footer .col p {
  color: var(--secondary-color);
  font-family: "Satoshi-Regular";
}
.footer .col h4 {
  font-family: "Satoshi-Medium";
  letter-spacing: 4px;
  padding-top: 10px;
}

.footer .col1 .footer-icons {
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
}

@media (max-width: 1000px) {
  .footer .col1 .main-title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .footer .col1 .footer-icons {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer .col2,
  .footer .col3,
  .footer .col4,
  .footer .col5 {
    padding-bottom: 20px;
  }
  .footer .col2 p,
  .footer .col3 p,
  .footer .col4 p,
  .footer .col5 p {
    padding-top: 15px;
    font-family: "Satoshi-Regular";
  }

}

.footer .col1 .footer-icons svg:hover {
  cursor: pointer;
  fill: #0027b4;
}

.footer .container .content::after {
  content: "";
  position: absolute;
  height: 0.5px;
  background-color: #a2a2a2;
  bottom: 0;
  width: 100%;
}

.footer .rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer .rights .sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .rights .text {
  font-family: "Satoshi-Regular";
}
@media (max-width: 1000px) {
  .footer .rights {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .footer .rights .sponsors {
    padding-top: 20px;
  }
}
